<!DOCTYPE html>
<html xmlns:th="www.http://thymeleaf.org">
      <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Andrey's</title>
            <link rel="stylesheet" href="/css/reset-css.css"/>
            <link rel="stylesheet" href="/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="/css/style.css"/>
        </head>
<body>
<header th:include="/fragments/navbarLoggedIn">

        </header>
    <main>
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add Product</span></h1>
        <hr class="hr-3"/>
        <form class="mx-auto w-25 bg-blur"
              th:action="@{/add-product}"
              th:method="post"
              th:object="${addProduct}">
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="name" class="h4 mb-2">Name</label>
                </div>
                <input type="text" class="form-control" id="name" name="name"
                       th:field="*{name}"/>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="description" class="h4 mb-2">Description</label>
                </div>
                <input type="text" class="form-control" id="description" name="description"
                       th:field="*{description}"/>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="category" class="h4 mb-2">Category</label>
                </div>
                <select styleClass="browser-default custom-select" id="category"
                                 value="#{productCreateBean.productCreateModel.category}"
                        th:field="*{category}">
                    <option th:value="SHIRT">Shirt</option>
                    <option th:value="DENIM">Denim</option>
                    <option th:value="SHORTS">Shorts</option>
                    <option th:value="JACKET">Jacket</option>
                </select>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="sex" class="h4 mb-2">Sex</label>
                </div>
                <select styleClass="browser-default custom-select" id="sex"
                                 value="#{productCreateBean.productCreateModel.sex}"
                        th:field="*{sex}">
                    <option th:value="MALE">Male</option>
                    <option th:value="FEMALE">Female</option>
                </select>
            </div>
            <div class="form-group">
                <div class="text-white label-holder d-flex justify-content-center">
                    <label for="price" class="h4 mb-2">Price</label>
                </div>
                <input type="number" class="form-control" id="price" name="price"
                       th:field="*{price}"/>
            </div>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary text-white mb-3">Add Product</button>
            </div>
        </form>
    </main>
    <footer class="footer bg-dark  py-2">
            <div class="container-fluid text-center">
                <div class="footer-background h5 text-white">
                     & CopyRight Andrey's. All rights reserved.
                </div>
            </div>
        </footer>
</body>
</html>
